<!DOCTYPE html>
<head>

</head>

<body>
<div class = container>


<div class="row" style="margin-top: 20%">
	<h1 class="text-center" style="font-family: 'Raleway', sans-serif;"> what are you watching? </h1> 
</div>

<div class="row">
<div class = "col-lg-3 col-lg-offset-4">

<form action="/tv" method="POST" style="width: 550px">
	<input type="text" class="form-control" name="title" placeholder="title" style="width:50%">
	</div>
	<div class = "col-lg-4">
	<button class="btn btn-dark btn-sm" style="margin-top: 5px"> go</button>
	</div>
</form>


<div class = "col-lg-8 col-lg-offset-4">



</div>

</body>

</html>