<!DOCTYPE html>
<head>
	<head>

<body>


<div class = container>
<div class="row" style="margin-top: 10%">
	<h1 class="text-center" style="font-family: 'Raleway', sans-serif;">  {{genre}} </h1> 
</div>

<div class="row">
	<div class = "col-lg-7 col-lg-offset-3">
 


</div>
</div>

	</body>

</html>